* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins";
}




.frente{
    margin-top: -18.75rem;
    height: 56.25rem;
    width: 100%;
    background-image: url("../img/blur.png");
    background-size: cover;
    display: grid;
    align-items: flex-end;

}
.logo{
    height: 6.25rem;
    width: 15.625rem;
}



.bg-custom-2 {
    background:rgba(0,0,0,0.5);   /* for latest browsers */
 }

 .front-text{

    margin-bottom: 6.25rem;
     
     width: 37.5rem;
    height: 21.875rem;
     color: white;
     /* background-color: aqua; */
     display: grid;
     justify-content: space-between;

 }
 .front-text h3{

     font-size: 1.1875rem;
     font-weight: 700;
     line-height: 1.1875rem;
     text-shadow: -0.0625rem 0.0625rem 0 #000,
                          0.0625rem 0.0625rem 0 #000,
                         0.0625rem -0.0625rem 0 #000,
                        -0.0625rem -0.0625rem 0 #000;
 }
 .front-text h1{
     font-size: 3rem;
     font-weight: 700;
     line-height: 3.625rem;
     text-shadow: -0.0625rem 0.0625rem 0 #000,
                          0.0625rem 0.0625rem 0 #000,
                         0.0625rem -0.0625rem 0 #000,
                        -0.0625rem -0.0625rem 0 #000;
 }
 .front-text p{
     
     font-size: 1.125rem;
     font-weight: 400;
     line-height: 1.4375rem;
     text-shadow: -0.0625rem 0.0625rem 0 #000,
                          0.0625rem 0.0625rem 0 #000,
                         0.0625rem -0.0625rem 0 #000,
                        -0.0625rem -0.0625rem 0 #000;
 }
 .front-text{
     color: white;
 }

 .resaltado{
     font-weight: bold;
     color: #5159BB;
 }

 .centrar{

    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
 }

 .servicios{
     /* height: 156.25rem; */
     width: 80%; 
     margin: 10px auto;
     



     /* background-color: #ff0000; */
     /* background-image: url("../img/Web\ 1920\ –\ 1.png"); */
     /* background-attachment: fixed; */

   
 }

 .front-ss h3{
     color: #5159BB;
     font-size: 1.1875rem;
     font-weight: 700;
     line-height: 1.1875rem;
     text-shadow: -0.0625rem 0.0625rem 0 #fff,
                          0.0625rem 0.0625rem 0 #fff,
                         0.0625rem -0.0625rem 0 #fff,
                        -0.0625rem -0.0625rem 0 #fff;
 }
 .front-ss h2{
     color: orange;
     font-size: 3rem;
     font-weight: 700;
     line-height: 3.625rem;
     text-shadow: -0.0625rem 0.0625rem 0 #fff,
     0.0625rem 0.0625rem 0 #fff,
    0.0625rem -0.0625rem 0 #fff,
   -0.0625rem -0.0625rem 0 #fff;
   
 }
 .front-text p{
     
     font-size: 1.125rem;
     font-weight: 400;
     line-height: 1.4375rem;
     text-shadow: -0.0625rem 0.0625rem 0 #000,
                          0.0625rem 0.0625rem 0 #000,
                         0.0625rem -0.0625rem 0 #000,
                        -0.0625rem -0.0625rem 0 #000;
 }



 .imgseo{
     height: 34.375rem;
     width: 62.5rem;
     margin-right: 43.75rem;
 }

 .tiendaimg{
    height: 25.25rem;
    width: 30.625rem;
    

}
 .webimg{
    height: 33.5rem;
    width: 35rem;

    /* margin-right: 1000px; */
}




@media screen and (max-width: 1200px) {
    * {
      font-size: 16px;
    }

    .row-1{
        order: 2;
    }
    .row-2{
        order: 1;
    }


 


  
  }
  
  @media screen and (max-width: 1120px) {
    * {
      font-size: 14px;
    }

     
  }
  
  @media screen and (max-width: 992px) {
    * {
      font-size: 14px;
      
    }

    .webimg{
        height: 27.5rem;
        width: 30rem;
    
        /* margin-right: 1000px; */
    }
   
  
  
  
  }
  
  @media screen and (max-width: 768px) {
    * {
      font-size: 14px;
    }

        
  }
  
  @media screen and (max-width: 576px) {
    * {
      font-size: 10px;
    }

   


  }
  
  @media screen and (max-width: 439px) {
    * {
      font-size: 10px;
    }
  @media screen and (max-width: 360px) {
  

    .webimg{
        height: 13.5rem;
        width: 25rem;
    
        /* margin-right: 1000px; */
    }
    .tiendaimg{
        height: 13.5rem;
        width: 25rem;
    
        /* margin-right: 1000px; */
    }

  }
}