* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins";
    /* background-color: #000; */
}




.frente{
    margin-top: -18.75rem;
    height: 56.25rem;
    width: 100%;
    background-image: url("../img/fondo.webp");
    background-size: cover;
    display: grid;
    align-items: flex-end;
    background-position: center center;

}
.logo{
    height: 8.25rem;
    width: 17.625rem;
    object-fit: contain;
}



.bg-custom-2 {
    background-color:rgba(0, 0, 0, 0.5);  
    /* background-color: #000; */
   
  /* for latest browsers */
 }

 .front-text{

    margin-bottom: 6.25rem;
     
     width: 50%;
    height: 21.875rem;
     color: white;
     /* background-color: aqua; */
     display: grid;
     justify-content: space-between;

 }
 .front-text h3{

     font-size: 1.1875rem;
     font-weight: 700;
     line-height: 1.1875rem;
     text-shadow: -0.0625rem 0.0625rem 0 #000,
                          0.0625rem 0.0625rem 0 #000,
                         0.0625rem -0.0625rem 0 #000,
                        -0.0625rem -0.0625rem 0 #000;
 }
 .front-text h1{
     font-size: 3rem;
     font-weight: 700;
     line-height: 3.625rem;
     text-shadow: -0.0625rem 0.0625rem 0 #000,
                          0.0625rem 0.0625rem 0 #000,
                         0.0625rem -0.0625rem 0 #000,
                        -0.0625rem -0.0625rem 0 #000;
 }
 .front-text p{
     
     font-size: 1.125rem;
     font-weight: 400;
     line-height: 1.4375rem;
     text-shadow: -0.0625rem 0.0625rem 0 #000,
                          0.0625rem 0.0625rem 0 #000,
                         0.0625rem -0.0625rem 0 #000,
                        -0.0625rem -0.0625rem 0 #000;
 }

 .navbar-toggler{
     background-color: #154D80;
     font-size: 500px;
 }


 .boton-front{
     background-color: #FCE000;
     border: #fff;
     color: #703A23;
     font-size: 1.575rem;
     font-weight: bold;
     padding: 10px 32px;
 }
 .boton-front:hover{
     background-color: #703A23;
     border: #fff;
     color: #FCE000;
     font-size: 1.575rem;
     font-weight: bold;
     padding: 10px 32px;
 }
 .front-text{
     color: white;
 }


 .resaltado{
     font-weight: bold;
     color: #5159BB;
 }

 .centrar{

    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
 }
 .fondocolor{
    background-image: url("../img/323232.webp");
    background-size:  cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: flex-end;
    width: 100%;
   
 }

 .servicios{
     /* height: 156.25rem; */
     height: 100%;
     width: 90%; 
     margin: 10px auto;
 
   
 }
.verde{
    list-style: disc;
    color: red;
    size: 20px;
    content: "•";
    /* font-size: 10px;  */
}
.azul{
    color: #5EFF08;
   
}
.violeta{
    color: blue;
   
}
.rosa{
    color: #B608F5;
   
}
.verde p{
    color: black;
}

 .front-ss h3{
     color: #5159BB;
     font-size: 1.1875rem;
     font-weight: 700;
     line-height: 1.1875rem;
     text-shadow: -0.0625rem 0.0625rem 0 #fff,
                          0.0625rem 0.0625rem 0 #fff,
                         0.0625rem -0.0625rem 0 #fff,
                        -0.0625rem -0.0625rem 0 #fff;
 }
 .front-ss h2{
     color: orange;
     font-size: 3rem;
     font-weight: 700;
     line-height: 3.625rem;
     text-shadow: -0.0625rem 0.0625rem 0 #fff,
     0.0625rem 0.0625rem 0 #fff,
    0.0625rem -0.0625rem 0 #fff,
   -0.0625rem -0.0625rem 0 #fff;
   
 }
 .front-ss p{

     font-size: 1rem;
     font-weight: 600;

   
 }
 .front-text p{
     
     font-size: 1.125rem;
     font-weight: 400;
     line-height: 1.4375rem;
     text-shadow: -0.0625rem 0.0625rem 0 #000,
                          0.0625rem 0.0625rem 0 #000,
                         0.0625rem -0.0625rem 0 #000,
                        -0.0625rem -0.0625rem 0 #000;
 }



 .imgseo{
     height: 32.375rem;
     width: 35.5rem;
     object-fit: contain;
    
     
 }

 .tiendaimg{
    height: 33.375rem;
    width: 37.5rem;
    object-fit: contain;
    
    

}
 .webimg{
    height: 35.375rem;
     width: 40.5rem;
     object-fit: contain;
    /* margin-right: 1000px; */
}
 .imgmant{
    height: 35.375rem;
    width: 40.5rem;
    object-fit: contain;
    /* margin-right: 1000px; */
}




@media screen and (max-width: 1200px) {
    * {
      font-size: 16px;
    }

    .row-1{
        order: 2;
    }
    .row-2{
        order: 1;
    }

    .fondocolor{
        background-image: url("../img/21212.webp");
        background-size:  100% 100%;
        background-repeat: no-repeat;
        display: grid;
        align-items: flex-end;
        width: 100%;
       
     }


 


  
  }
  
  @media screen and (max-width: 1120px) {
    * {
      font-size: 14px;
    }


     
  }
  
  @media screen and (max-width: 992px) {
    * {
      font-size: 14px;
      
    }

    .webimg{
        height: 27.5rem;
        width: 30rem;
        object-fit: contain;
        
    
        /* margin-right: 1000px; */
    }

    .linksfront{
        display: none;
    }
   
  
  
  
  }
  
  @media screen and (max-width: 768px) {
    * {
      font-size: 14px;
    }

    .footext{
        font-size: 0.575rem;
    }

    .front-text{  
         
         width: 90%;
        height: 21.875rem;
        /* background-color: #4527A0; */
   
     }
    

        
  }
  
  @media screen and (max-width: 576px) {
    * {
      font-size: 12px;
    }
   

    .front-text h1{
        font-size: 2.6875rem;   
    }
    .front-text p{
        
        font-size: 14px;   
    }

    .frente{
       
        height: 56.25rem;
        width: 100%;
      
    
    }
    .front-ss{
        width: 80%;
    }
    .front-ss h3{
        font-size: 15px;
    }
    .front-ss h2{
        font-size: 30px;
    }
    .front-ss p{
        font-size: 13px;
    }

    .tiendaimg{
        margin-top: 30px;
        height: 500px;
        width: 90%;
        object-fit: contain;
    }

      


  }
  
  @media screen and (max-width: 439px) {
    * {
      font-size: 12px;
    }
    
    .front-text{

        width: 100%;
         /* background-color: aqua;     */
         display: grid;
         justify-content: center;
         align-items: center;
    
     }
    
     .frente{
         
        display: grid;
        justify-content: center;
        align-items: flex-end;}


        .centrar-1{
            display: grid;
            justify-content: flex-start;
        }

        .webimg{
            height: 25.5rem;
            width: 28rem;
            object-fit: contain;
        
            /* margin-right: 1000px; */
        }

        .tiendaimg{
            height: 25.5rem;
            width: 28rem;
            object-fit: contain;
        }
  
      .front-ss-1{
          width: 80%;
      }

      .imgseo{
        height: 25.5rem;
        width: 28rem;
        object-fit: contain;
          /* object-fit: contain; */
      }
      .imgmant{
        height: 25.5rem;
        width: 28rem;
        object-fit: contain;
      }
    
  @media screen and (max-width: 360px) {

    * {
        font-size: 12px;
      }

      .centrar-1{
          width: 90%;
          /* background-color: #5159BB; */
        display: grid;
        justify-content: flex-start;
    }
  

    .webimg{
        height: 18.5rem;
        width: 20rem;
        object-fit: contain;
    
        /* margin-right: 1000px; */
    }
    .tiendaimg{
        height: 18.5rem;
        width: 25rem;
        object-fit: contain;
    
        /* margin-right: 1000px; */
    }
    .imgseo{
        height: 17.5rem;
        width: 25rem;
        object-fit: contain;
        
    }
    .imgmant{
        height: 17.5rem;
        width: 25rem;
        object-fit: contain;    
        
    }

    
   
 .front-text{

    width: 100%;
     /* background-color: aqua;     */
     display: grid;
     justify-content: center;
     align-items: center;

 }

 .frente{
     
    display: grid;
    justify-content: center;
    align-items: flex-end;

 }

    


  }
}


.colorfooter {
    
    background-color: #154D80;
    
    
}
.text-footer{
    font-size: 16px;
}

.linksfront{
    /* background-color: #5EFF08; */
}
