* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins";
}




.frente{
    margin-top: -18.75rem;
    height: 56.25rem;
    width: 100%;
    background-image: url("../img/fondo.webp");
    background-size: cover;
    display: grid;
    align-items: flex-end;

}
.logo{
    height: 8.25rem;
    width: 17.625rem;
    object-fit: contain;
}



.bg-custom-2 {
    background:rgba(0,0,0,0.5);   /* for latest browsers */
 }

 .front-text{

    margin-bottom: 6.25rem;
     
     width: 50%;
    height: 21.875rem;
     color: white;
     /* background-color: aqua; */
     display: grid;
     justify-content: space-between;

 }
 .front-text h3{

     font-size: 1.1875rem;
     font-weight: 700;
     line-height: 1.1875rem;
     text-shadow: -0.0625rem 0.0625rem 0 #000,
                          0.0625rem 0.0625rem 0 #000,
                         0.0625rem -0.0625rem 0 #000,
                        -0.0625rem -0.0625rem 0 #000;
 }
 .front-text h1{
     font-size: 3rem;
     font-weight: 700;
     line-height: 3.625rem;
     text-shadow: -0.0625rem 0.0625rem 0 #000,
                          0.0625rem 0.0625rem 0 #000,
                         0.0625rem -0.0625rem 0 #000,
                        -0.0625rem -0.0625rem 0 #000;
 }
 .front-text p{
     
     font-size: 1.125rem;
     font-weight: 400;
     line-height: 1.4375rem;
     text-shadow: -0.0625rem 0.0625rem 0 #000,
                          0.0625rem 0.0625rem 0 #000,
                         0.0625rem -0.0625rem 0 #000,
                        -0.0625rem -0.0625rem 0 #000;
 }

 .boton-front{
     background-color: #FCE000;
     border: #fff;
     color: #703A23;
     font-size: 30px;
     font-weight: bold;
 }
 .front-text{
     color: white;
 }


 .resaltado{
     font-weight: bold;
     color: #5159BB;
 }

 .centrar{

    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
 }
 .fondocolor{
    background-image: url("../img/Web 1920 – 1.png");
    background-size: cover;
    display: grid;
    align-items: flex-end;
 }

 .servicios{
     /* height: 156.25rem; */
     height: 100%;
     width: 90%; 
     margin: 10px auto;
 
   
 }
.verde{
    list-style: disc;
    color: red;
    size: 20px;
    content: "•";
    /* font-size: 10px;  */
}
.azul{
    color: #5EFF08;
   
}
.violeta{
    color: blue;
   
}
.rosa{
    color: #B608F5;
   
}
.verde p{
    color: black;
}

 .front-ss h3{
     color: #5159BB;
     font-size: 1.1875rem;
     font-weight: 700;
     line-height: 1.1875rem;
     text-shadow: -0.0625rem 0.0625rem 0 #fff,
                          0.0625rem 0.0625rem 0 #fff,
                         0.0625rem -0.0625rem 0 #fff,
                        -0.0625rem -0.0625rem 0 #fff;
 }
 .front-ss h2{
     color: orange;
     font-size: 3rem;
     font-weight: 700;
     line-height: 3.625rem;
     text-shadow: -0.0625rem 0.0625rem 0 #fff,
     0.0625rem 0.0625rem 0 #fff,
    0.0625rem -0.0625rem 0 #fff,
   -0.0625rem -0.0625rem 0 #fff;
   
 }
 .front-text p{
     
     font-size: 1.125rem;
     font-weight: 400;
     line-height: 1.4375rem;
     text-shadow: -0.0625rem 0.0625rem 0 #000,
                          0.0625rem 0.0625rem 0 #000,
                         0.0625rem -0.0625rem 0 #000,
                        -0.0625rem -0.0625rem 0 #000;
 }



 .imgseo{
     height: 32.375rem;
     width: 35.5rem;
     object-fit: fill;
    
     
 }

 .tiendaimg{
    height: 33.375rem;
    width: 37.5rem;
    object-fit: fill;
    
    

}
 .webimg{
    height: 35.375rem;
     width: 40.5rem;
     object-fit: fill;
    /* margin-right: 1000px; */
}
 .imgmant{
    height: 35.375rem;
    width: 40.5rem;
    object-fit: fill;
    /* margin-right: 1000px; */
}




@media screen and (max-width: 1200px) {
    * {
      font-size: 16px;
    }

    .row-1{
        order: 2;
    }
    .row-2{
        order: 1;
    }


 


  
  }
  
  @media screen and (max-width: 1120px) {
    * {
      font-size: 14px;
    }

     
  }
  
  @media screen and (max-width: 992px) {
    * {
      font-size: 14px;
      
    }

    .webimg{
        height: 27.5rem;
        width: 30rem;
    
        /* margin-right: 1000px; */
    }
   
  
  
  
  }
  
  @media screen and (max-width: 768px) {
    * {
      font-size: 14px;
    }

    .footext{
        font-size: 0.575rem;
    }

    .front-text{  
         
         width: 70%;
        height: 21.875rem;
        /* background-color: #4527A0; */
   
     }
    

        
  }
  
  @media screen and (max-width: 576px) {
    * {
      font-size: 12px;
    }

    .front-text h1{
        font-size: 2.6875rem;   
    }
    .front-text p{
        
        font-size: 14px;   
    }

   


  }
  
  @media screen and (max-width: 439px) {
    * {
      font-size: 12px;
    }
  @media screen and (max-width: 360px) {

    * {
        font-size: 12px;
      }
  

    .webimg{
        height: 13.5rem;
        width: 25rem;
    
        /* margin-right: 1000px; */
    }
    .tiendaimg{
        height: 13.5rem;
        width: 25rem;
    
        /* margin-right: 1000px; */
    }
    .imgseo{
        height: 13.5rem;
        width: 25rem;
        
    }
    .imgmant{
        height: 13.5rem;
        width: 25rem;
        
    }

    
    .front-text{  
         
        width: 90%;
       height: 21.875rem;
       /* background-color: #4527A0; */
  
    }

  }
}


.colorfooter {
    background-color: #154D80
}
.text-footer{
    font-size: 16px;
}
